.Navbar {
    text-align: center;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Navbar li {
    display: inline-block;
    margin: 20px;
}

.Navbar a {
    text-decoration: none;
    color: black;
}

.Navbar a:hover,
.Navbar a:active,
.Navbar a.active {
    color: orange;
}

    

