djangomain/djangomain/__pycache__/urls.cpython-38.pyc
djangomain/djangomain/__pycache__/settings.cpython-38.pyc
djangomain/api/migrations/__pycache__/__init__.cpython-38.pyc
djangomain/api/__pycache__/views.cpython-38.pyc
djangomain/api/__pycache__/urls.cpython-38.pyc
djangomain/api/__pycache__/serializer.cpython-38.pyc
djangomain/api/__pycache__/models.cpython-38.pyc
djangomain/api/__pycache__/admin.cpython-38.pyc
djangomain/api/__pycache__/__init__.cpython-38.pyc
