dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.12
django-cors-headers==3.3.0
django-extensions==2.2.9
django-rest-swagger==2.2.0
djangorestframework==3.11.0
docopt==0.6.2
gitignore==0.0.8
gunicorn==20.0.4
psycopg2==2.8.5
pytz==2020.1
static3==0.7.0
whitenoise==5.1.0
