.App {
    background: url('./assets/login-bg.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
