.App {
    background-image: url('./assets/login-bg.jpg');
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
